.exp-image {
    background-size: cover;
    min-height: 750px;
    border-radius: 12px;
    overflow: hidden;
}
.item-flex {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.head3 {
    font-size: 53px;
    font-weight:600;
    letter-spacing: -0.02em;
    line-height: 60px;
    font-family: airbnb_cereal_book;
    color:#FFFFFF;
    padding-bottom: 24px;
}

.link-button {
    background-color: #FFFFFF;
    padding: 14px 24px;
    width:fit-content;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: airbnb_cereal_book;
}

@media screen and (max-width: 1440px) {
    .banner2-box2{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 1128px) {
    .banner2-box2{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    .banner2-item {
        margin-top: 10px;
    }
}