.font {
    font-family: airbnb_cereal_book;
}
.toggle_header {
    position: fixed;
    top: -150px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    border-bottom: 1px solid #DDDDDD;
    z-index: 100;
    background-color: #FFFFFF;
}

.corona {
    width: auto;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    color:#FFFFFF;
    background-color: black;
    text-decoration: none;
}
.color {
    background-color: black;
}
.nav-bar-main {
    display: flex;
    min-height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;
}

.space1-main {
    display: flex;
    flex-direction: row;
}

.flex1-main {
    flex-grow: 2;
    flex-basis: 0;
}

.logo-image-main {
    color:#FFFFFF;
    display: inline-flex;
    vertical-align: middle;
    z-index: 1;
    height:80px;
    align-items: center;
    
}

.flex2-main {
    flex-grow: 1;
    flex-basis: 0;
}
.option-box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    min-width: 250px;
}

.option-button-main {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    min-height:40px;
    font-size: 16px;
    font-family: airbnb_cereal_book;
}
.option-text-main {
    padding: 10px 16px;
}
.text1-main {
    color: white;
    font-size: 16px;
}

.flex3-main {
    flex-grow: 2;
    flex-basis: 0;
}

.login-box-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
.login-main {
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 5px 5px 12px;
    text-decoration: none;
    background-color: white;
    vertical-align: middle;
    height: 42px;
    width: 77px;
    border-radius: 21px;
    z-index: 1;
    align-items: center;
}
.etc-main {
    display:flex;
    flex: auto;
    justify-content: flex-end;
    margin-right: 8px;
}

.lang-button-main {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 12px;
}

.host-main {
    background: transparent;
    border: 0px;
    display:inline-block;
    font-size: 14px;
    font-family: airbnb_cereal_book;
    font-weight: 600;
    line-height: 18px;
    z-index: 1;
    color: white;
    padding: 12px;
}
.no-underline {
    text-decoration: none;
    font-family: airbnb_cereal_book;
}
.no-border {
    border: none;
}

._retf {
    padding-left: 10px;
}




.grid1 {
    border-radius: 12px;
    display: grid;
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr);
    width : 1300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://a0.muscache.com/im/pictures/ce7d8ae6-977b-4031-b800-762ac4daf347.jpg?im_w=960);
    background-size: cover;
}
.grid1-1 {
    display: grid;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 72px;
}
.flex4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 24px;
    text-align: center;
    font-family: airbnb_cereal_book;
    color:#FFFFFF; 
    font-size:38px; 
    font-weight:600; 
    letter-spacing:-0.02em; 
    line-height: 43px;
}
.more-button {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 48px;
    background-color:white;
    border-radius:1000px;
    text-align: center;
    align-items: center;
    
}
.button1 {
    width: 120px;
    height: 48px;
    
}


.banner2 {
    padding-top: 96px;
}
.banner2-box1 {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 48px;
}
.head-text {
    font-size: 42px;
    font-family: airbnb_cereal_medium;
}



.banner3 {
    padding-top: 96px;
    padding-bottom: 96px;
}

.banner3-box2 {
    display: grid;
    grid-template-columns: minmax(0,1fr)  minmax(0,1fr);
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    column-gap: 24px;
    margin-left: 80px;
    margin-right: 80px;
}


.banner4 {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: column;
    padding:80px;
    height: 508px;
    background-size: cover;
    border-radius: 12px;
    margin-bottom: 48px;
}
.head4 {
    color:#FFFFFF;
    font-size: 95px;
    font-weight: 600;
    line-height: 105px;
    letter-spacing: -0.02em;
    font-family: airbnb_cereal_medium;
    padding-bottom: 160px;
}

.calendar-box-main {
    width: 800px;
    height: 450px;
    position: absolute;
    top: 50px;
    left: -105%;
    z-index: 1 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px !important;
    margin-top: 12px !important;
    overflow: hidden auto !important;
    padding: 16px 32px !important;
    align-items: center;
}

.inputs {
    cursor: pointer;
}


@media screen and (min-width: 1440px) {
    .corona {
        min-width: 1300px;
    }
    .nav-bar-main {
        min-width: 1300px;
    }
    .banner3-box2 {
        grid-template-columns: minmax(0,1fr)  minmax(0,1fr);
    }
}

@media screen and (max-width: 1128px) {
    .banner3-box2 {
        grid-template-columns: minmax(0,1fr);
    }
 
}

@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 744px) {
    
}