.fish-main {
    margin-right: 80px;
    margin-left: 80px;
}

.fish-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: solid 3px whitesmoke;
    border-radius: 18px;
}

.fish-row1 {
    border-radius: 14px 14px 0px 0px;
    background-color: #16C6B6;
    font-family: 'Jua', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.fish-icon {
    border-radius: 50%;
    background-color: white;
    margin:4px 10px 4px 4px;
    border: solid 1px black;
}
.fish-name {
    margin-left: 10px;
}

.fish-row2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fish-row3 {
    height:100%;
    background-color: #AED6E6;
    font-family: 'Jua', sans-serif;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fish-location {
    margin-left: 20px;
}

.fish-time {
    margin-right: 10px;
}

.fish-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 40px !important;
    row-gap: 30px;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 1440px) {
    .fish-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 1128px) {
    .fish-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .fish-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
}