@font-face{font-family:'airbnb_cereal_book'; src:url('fonts/Airbnb_Cereal-Book.woff2')}
@font-face{font-family:'airbnb_cereal_medium'; src:url('fonts/Airbnb_Cereal-Medium.woff2')}

.font {
    font-family: airbnb_cereal_book;
}

.nav-bar {
    display: flex;
    min-width: 1000px;
    min-height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 83px;
    margin-right: 83px;
    flex-direction: row;
    color:#FFFFFF;
    box-shadow: 0 8px 6px -6px #DDDDDD;
}

.space1 {
    display: flex;
    flex-direction: row;
}

.flex1 {
    flex-grow: 2;
    flex-basis: 0;
}

.logo-image {
    color: #FF385C;
    display: inline-flex;
    vertical-align: middle;
    z-index: 1;
    height:80px;
    align-items: center;
    
}

.flex2 {
    flex-grow: 1;
    flex-basis: 0;
}

.text1 {
    color: white;
    font-size: 16px;
}

.flex3 {
    flex-grow: 2;
    flex-basis: 0;
}

.login-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
.login {
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 5px 5px 12px;
    text-decoration: none;
    background-color: white;
    vertical-align: middle;
    height: 42px;
    width: 77px;
    border-radius: 21px;
    z-index: 1;
    align-items: center;
}
.etc {
    display:flex;
    flex: auto;
    justify-content: flex-end;
    margin-right: 8px;
}

.lang-button {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: black;
    padding: 12px;
    border: none;
}

.host {
    background: transparent;
    border: 0px;
    display:inline-block;
    font-size: 14px;
    font-family: airbnb_cereal_book;
    font-weight: 600;
    line-height: 18px;
    z-index: 1;
    color: black;
    padding: 12px;
}
.no-underline {
    text-decoration: none;
    font-family: airbnb_cereal_book;
}

.search-button-box {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height:100%;
    
}

.search-button {
    cursor:pointer;
    display: flex;
    align-items: center;
    border-radius: 40px;
    height: 48px;
    width: 300px;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 1 auto;
    text-align: left;
}
.search-text {
    font-family: airbnb_cereal_book;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 16px;
    flex: 1 1 auto;

}
.search-icon {
    background: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    height: 32px;
    width: 32px;
    border-radius: 24px;
    z-index: 0;
    background-color: #FF385C;
    border: 0px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}

.detail-main {
    padding-left: 83px;
    padding-right: 83px;
    margin-left: 80px;
    margin-right: 80px;
}

.detail-row1 {
    display: flex;
    flex-direction: column;
}

.row1-etc {
    display: flex;
    align-items: center;
}

.etc1 {
    flex: 1 1 auto;
}

.detail-row2 {
    display: flex;
    padding-top: 24px;
}

.image1 {
    flex: 1 1 0;
    height: 290px;
    padding-top: 10px;
}
.image-flex {
    flex: 1 1 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.images {
    flex: 1 1 0;
    padding-left: 10px;
    padding-top: 10px;
    background-size: cover;
}
.detail2 {
    display:flex;
    flex-direction: row;
}

.detail-info {
    flex: 1 1 0;
}


.detail-row3 {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    padding-top: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
    
}

.row3-etc {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
}

.detail-row4 {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #DDDDDD;
}

.row4-box {
    display: flex;
    margin-bottom: 24px;
}

.detail-row5 {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 48px;
    border-bottom: 1px solid #DDDDDD;
}

.row4-box:last-child {
    margin-bottom: 0px;
}

.detail-row6 {
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #DDDDDD;
}

.row6-box {
    display: flex;
    height: 90px;
    width: 150px;
    padding: 24px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}

.sidebar-box {
    flex: 0.7 1 0;
}

.sidebar {
    position: sticky;
    top: 48px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: 0px;
    width: 360px;
    border: 1px solid #DDDDDD;
    border-radius: 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.bar {
    padding: 24px;
    display: flex;
    flex-direction: column;
}