@font-face{font-family:'airbnb_cereal_book'; src:url('fonts/Airbnb_Cereal-Book.woff2')}

@font-face{font-family:'airbnb_cereal_medium'; src:url('fonts/Airbnb_Cereal-Medium.woff2')}

.font {
    font-family: airbnb_cereal_book;
}

#navbar {
    position: sticky;
    top:0;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
    z-index: 100;
}

.nav-bar {
    display: flex;
    min-width: 1300px;
    min-height: 80px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
    color:#FFFFFF
}

.space1 {
    display: flex;
    flex-direction: row;
}

.flex1 {
    flex-grow: 2;
    flex-basis: 0;
}

.logo-image {
    color: #FF385C;
    display: inline-flex;
    vertical-align: middle;
    z-index: 1;
    height:80px;
    align-items: center;
    
}

.flex2 {
    flex-grow: 1;
    flex-basis: 0;
}

.text1 {
    color: white;
    font-size: 16px;
}

.flex3 {
    flex-grow: 2;
    flex-basis: 0;
}

.login-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
.login {
    background: transparent;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 5px 5px 12px;
    text-decoration: none;
    background-color: white;
    vertical-align: middle;
    height: 42px;
    width: 77px;
    border-radius: 21px;
    z-index: 1;
    align-items: center;
}
.etc {
    display:flex;
    flex: auto;
    justify-content: flex-end;
    margin-right: 8px;
}

.lang-button {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: black;
    padding: 12px;
    border: none;
}

.host {
    background: transparent;
    border: 0px;
    display:inline-block;
    font-size: 14px;
    font-family: airbnb_cereal_book;
    font-weight: 600;
    line-height: 18px;
    z-index: 1;
    color: black;
    padding: 12px;
}
.no-underline {
    text-decoration: none;
    font-family: airbnb_cereal_book;
}

.options-box {
    padding: 8px 24px 12px;
}

.options-flex {
    display: flex;
    flex-direction: row;
    
}

.search-button-box {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height:100%;
    
}

.search-button {
    cursor:pointer;
    display: flex;
    align-items: center;
    border-radius: 40px;
    height: 48px;
    width: 300px;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 1 auto;
    text-align: left;
}
.search-text {
    font-family: airbnb_cereal_book;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 16px;
    flex: 1 1 auto;

}
.search-icon {
    background: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    height: 32px;
    width: 32px;
    border-radius: 24px;
    z-index: 0;
    background-color: #FF385C;
    border: 0px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
} 

.options-button {
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    width: 100%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: black;
    background-color: white;
    border: 1px solid rgb( 221,221,221);
    text-align: center;
}
.options-items {
    display: inline-block;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.options-etc {
    display: flex;
    flex-direction: row;
}


.house {
    flex-grow: 1;
    flex-basis: 0;
}

.house-row {
    display: flex;
    flex-direction: column;
    height:100%;
}
.house-row1 {
    display: flex;
    flex: 0 1 auto;
}

.house-name {
    width: 100%;
    flex: 1 1 auto;
    text-align: left;
}

.house-list {
    display: flex;
    flex-direction: column;
}

.house-box {
    flex-grow: 1;
}

.house-detail {
    display: flex;
    flex-direction: row;
    padding: 24px 0px 24px 24px;
    border-top: 1px solid #DDDDDD;

    margin-right: 24px;
}

.house-image {
    width: 300px;
    height: 200px;
}

* {box-sizing:border-box}
.mySlides0, .mySlides1, .mySlides2, .mySlides3 {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.house-info {
    flex-grow: 1;
    padding: 8px 8px 0px 12px;
}
.house-row2 {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}
.house-rate {
    display: flex;
    align-items: flex-end;
    flex:1 0 auto;
}
.map {
    flex-grow: 0.7;
    background-color: #dddddd;
    flex-basis: 0;
}

.footer {
    background-color: rgb(247,247,247);
}
.footer-box {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-section {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-column {
    list-style: none;
    padding-left: 0px;
}

.footer-row {
    margin-top: 16px;
}

.head5 {
    font-size: 14px;
    font-weight: 800;
    font-family: airbnb_cereal_book;
}

.footer-link {
    font-size: 14px;
    line-height: 18px;
    font-family: airbnb_cereal_book;
    color:rgb(34, 34, 34);
}