@font-face {
    font-family:'airbnb_cereal_book'; 
    src:url('../fonts/Airbnb_Cereal-Book.woff2')
}
@font-face {
    font-family:'airbnb_cereal_medium'; 
    src:url('../fonts/Airbnb_Cereal-Medium.woff2')
}
